/* top menu */
* {
  box-sizing: border-box;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 33%;
  /* padding: 10px; */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
label {
  font-size: 18px;
}
input {
  max-width: 150px;
}

/* Top nav */
.navbar {
  position: fixed;
  top:0;
  left:0;
  width: 100%;
  overflow: hidden;
  background-color: #d7e2fa;
  border: 4px solid #ccdbfc;
}

.navbar a {
  float: left;
  display: block;
  text-align: center;
  padding: 14px 26px;
  text-decoration: none;
  font-size: 24px;
  color: #333333;
}
.navbar a:hover {
  color: #a32f2f;
}
.sidenav {
  position: fixed;
  top: 64px;
  left: 0;
  padding-top: 20px;
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  background-color: rgb(252, 252, 252);
  overflow-x: hidden; /* Disable horizontal scroll */
  border-right: 3px solid rgb(233, 222, 222);
}

/* The navigation menu links */
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 18px;
  color: #333333;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #d3d3d3;
}
.active {
  background-color: #4caf50;
  color: white;
}
/* Style page content */
.core {
  margin-left: 250px; /* Same as the width of the sidebar */
  margin-top: 10px;
  padding: 0px 10px;
  line-height: 2em;
}
.main {
  margin-left: 250px; /* Same as the width of the sidebar */
  margin-top: 70px;
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
table {
  margin-top: 25px;
  margin-left: 250px;
  width: 80%;
}
th,
td {
  font-size: 14px;
  border-bottom: 1px solid black;
  line-height: 1.25em;
  text-align: center;
}
.hideButTakeUpSpace {
  visibility: hidden;
}
.hideDontTakeUpSpace {
  display: none;
}
